<!-- <div
  class="position-relative py-3 px-4 text-bg-primary border border-secondary d-flex justify-content-between"
>
  <div class="text-center fw-bolder">
    <p>The Movie DataBase</p>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="36"
    fill="currentColor"
    class="bi bi-search"
    viewBox="0 0 16 16"
    routerLink="/Search"
  >
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
    />
  </svg>
  <div class="input-group mb-4">
    <button class="SaerchButton btn" type="button">Saerch</button>
    <input
      type="text"
      class="form-control"
      placeholder=""
      aria-label="Example text with button addon"
      aria-describedby="button-addon1"
    />
  </div>
</div> -->

<div
  class="position-relative py-3 px-4 text-bg-primary border border-secondary d-flex justify-content-between"
>
  <div class="text-center fw-bolder">
    <p>The Movie DataBase</p>
  </div>

  <div class="ms-auto">
    <div class="input-group mb-4">
      <button
        class="SearchButton btn custom-color"
        type="button"
        (click)="SearchClicked(searchText, true)"
      >
        Search
      </button>
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
        [(ngModel)]="searchText"
        (click)="toggleSearchHistoryDropdown()"
      />
      <div *ngIf="showSearchHistoryDropdown  && searchHistory.length > 0" class="search-history-dropdown">
        <ul>
          <li *ngFor="let historyItem of searchHistory" (click)="selectSearchHistory(historyItem)">
            {{ historyItem }}
          </li>
        </ul>
      </div>
    </div>
    <!-- <select *ngIf="searchHistory.length > 0" class="form-select">
      <option value="" disabled selected>Select from history</option>
      <option *ngFor="let historyItem of searchHistory" [value]="historyItem">
        {{ historyItem }}
      </option>
    </select> -->
  </div>
</div>

<!-- <div *ngFor="let movie of MovieList?.results">
  {{ movie.original_title }}
  <img
    src="https://image.tmdb.org/t/p/w200/{{ movie.backdrop_path }}"
    class="img-fluid"
    alt="picture"
  />
</div> -->
<!-- src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}" -->
<div class="movie-grid" *ngIf="searchText; else nonFilteredMovies">
  <div
    class="movie-card"
    *ngFor="let movie of SearchedMovieList.results"
    routerLink="/ViewDetails/{{ movie.id }}"
  >
    <h4>{{ movie.original_title }}</h4>
    <img
      src="https://image.tmdb.org/t/p/w200/{{ movie.backdrop_path }}"
      class="img-fluid"
      alt="movie poster"
    />
  </div>
</div>
<ng-template #nonFilteredMovies>
  <div class="movie-grid">
    <div
      class="movie-card"
      *ngFor="let movie of MovieList.results"
      routerLink="/ViewDetails/{{ movie.id }}"
    >
      <h4>{{ movie.original_title }}</h4>
      <img
        src="https://image.tmdb.org/t/p/w200/{{ movie.backdrop_path }}"
        class="img-fluid"
        alt="movie poster"
      />
    </div>
    <div
      class="movie-card"
      *ngFor="let movie of MovieList.results"
      routerLink="/ViewDetails/{{ movie.id }}"
    >
      <h4>{{ movie.original_title }}</h4>
      <img
        src="https://image.tmdb.org/t/p/w200/{{ movie.backdrop_path }}"
        class="img-fluid"
        alt="movie poster"
      />
    </div>
  </div>
</ng-template>
<br />
<!-- <div class="d-flex justify-content-end" style="margin-right: 25px">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" *ngFor="let page of pages">{{page}}</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div> -->

<div
  class="container d-flex justify-content-end"
  *ngIf="MovieList.results.length > 0"
>
  <nav aria-label="Page navigation example ">
    <ul class="pagination">
      <li class="page-item" (click)="onPreviousPageClick()">
        <a class="page-link navigator rounded-2 fw-bold" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <!-- more previous pages -->
      <!-- <li class="page-item fw-bold" (click)="onFirstPageNavigatorClick()">
        <a class="page-link">{{ minPage }}</a>
      </li> -->

      <li class="page-more fw-bold" (click)="onPreviousMoreClick()">
        <a class="page-link">...</a>
      </li>
      <!-- more previous pages -->

      <li
        class="page-item fw-bold"
        *ngFor="let page of displayedPages"
        (click)="onPageChange(page)"
      >
        <a
          class="page-link"
          [ngClass]="{ 'active-page': selectedPage === page }"
          >{{ page }}</a
        >
      </li>

      <!-- more next pages -->
      <li class="page-more fw-bold" (click)="onNextMoreClick()">
        <a class="page-link">...</a>
      </li>
      <!-- <li class="page-item fw-bold" (click)="onLastPageNavigatorClick()">
        <a class="page-link">{{ maxPage }}</a>
      </li> -->
      <!-- more next pages -->

      <li class="page-item" (click)="onNextPageClick()">
        <a class="page-link navigator rounded-2 fw-bold" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
